<ul>
  <li *ngFor="let hero of heroes " (click)="onSelect(hero)">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title" [class.selected]="hero === selectedHero">
      {{hero.name}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
    </div>
  </div>
  <footer class="card-footer">
  </footer>
</div>
  </li>
</ul>
<app-heroes-details [hero]="selectedHero">

</app-heroes-details>