.selected {
  background-color: hsl(171, 100%, 41%);
  color: #fff;
}

ul {
  list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
  width: 30%;
  margin-left: 10px;
}